<h1><%= t('classrooms.title.index') %></h1>

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th><%= t('classrooms.student') %></th>
    <th><%= t('classrooms.course') %></th>
    <th><%= t('classrooms.entry_at') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.student.name %></td>
        <td><%= classroom.course.name %></td>
        <td><%= classroom_datetime(classroom.entry_at) %></td>
        <td><%= link_to t('views.btn.show'), classroom, class: "btn btn-info" %></td>
        <td><%= link_to t('views.btn.edit'), edit_classroom_path(classroom), class: "btn btn-primary" %></td>
        <td><%= link_to t('views.btn.destroy'), classroom, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('classrooms.new'), new_classroom_path, class: "btn btn-success" %>
